.header {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  position: relative;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.header img {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}
