.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  border: 1.5px solid #ccc;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5rem;
  width: 20rem;
}

.login-content {
  text-align: center;
  padding-bottom: 0.5rem;
}

.username-login-section label,
.pswd-login-section label {
  color: #555;
  display: block;
  font-weight: 700;
  padding-bottom: 5px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 0.4rem;
}

.username-login-section input,
.pswd-login-section input {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.username-login-section,
.pswd-login-section {
  text-align: start;
  padding-bottom: 0.5rem;
}

.pswd-login-section {
  position: relative;
  padding-bottom: 1rem;
}

.login-btn {
  background-color: #2874f0;
  border: 1px solid #2874f0;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 0.95rem;
  font-weight: 700;
  padding: 0.5rem;
  width: 100%;
}

.login-btn:hover {
  border: 1px solid #2874f0;
  background-color: #fff;
  color: #2874f0;
}

.form-info-last {
  padding-top: 0.5rem;
  text-align: center;
}

.sign-up {
  color: #2874f0;
  font-weight: bold;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
}

@media (max-width: 280px) {
  .login-card {
    width: 14rem;
    padding: 0.3rem;
    font-size: 0.6rem;
  }

  .pswd-login-section label,
  .username-login-section label {
    font-size: 0.6rem;
  }

  .pswd-login-section input,
  .username-login-section input {
    padding: 0.5rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 0.6rem;
  }

  .login-btn {
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) {
  .login-card {
    width: 30rem;
    padding: 1rem;
  }
}
